@model IndexViewModel

@{
    ViewBag.Title = "Blog Website";
    ViewBag.Description = "This Blog has everything!!";
    ViewBag.Keywords = "blog programming travel photography";
    var base_path = Context.Request.PathBase;
}

@*<h2>Home Page!</h2>

    <img src="~/content/static/antique-art-books-1448709.jpg" width="500"/>*@
<div class="main-img">
    <span class="title">Amazing Blog Site</span>
    <form asp-controller="Home" asp-action="Index" method="get">
        <input type="hidden" name="pageNumber" value="@Model.PageNumber" />
        <input type="hidden" name="category" value="@Model.Category" />
        <input class="search" type="text" name="search" placeholder="Search Blog" value="@Model.Search" />
        <button class="submit-btn">Search</button>
    </form>
</div>

<div class="container">
    @*<ul>
            @foreach (var post in Model)
            {
            <li>
                <a asp-controller="Home" asp-action="Post" asp-route-id="@post.Id">
                    @post.Title
                </a>
            </li>
            }
        </ul>*@

    <partial name="_BlogPagination" model="Model" />


    @foreach (var post in Model.Posts)
    {
        var image_path = $"{base_path}/Image/{post.Image}";
        <a class="post" asp-controller="Home" asp-action="Post" asp-route-id="@post.Id">
            <img src="@image_path" />
            <span class="title">
                @post.Title
            </span>
        </a>
    }

    <partial name="_BlogPagination" model="Model" />

</div>
